<section class="jumbotron  text-center">
  <h1>Help Page</h1>
  <p>The purpose of this website is to allow members to create profiles and sign up for events which they can gain points for. Club officers can handle club membership and manage club events.</p>
  <p>Signing In</p>
  <p>To create an account, a @tamu.edu email is required, along with personal information that is shared only with the officer team.</p>
  <p>Profile</p>
  <p>All members and officers will be able to see their profile information along with what events they have signed up for and point history.</p>
  <p>Events</p>
  <p>Officers will be allowed to create and manage events and its information. Members will be able to signup for an event no later than 6 hours before event start time.</p>
  <p>Points</p>
  <p>To gain points, officers are able to assign points to people based on attendance of an event.</p>
</section>
