<div id="WACViewPanel_ClipboardElement" tabindex="0">
    <div>
        <div>
            <p>
                AggieRotaract RotarTrack – System Documentation
            </p>
        </div>
        <div>
        </div>
        <div>
            <p>
                - Officer Features:
            </p>
        </div>
        <div>
                    <p>
                         - - Edit status of an account (Officer/Member)
                    </p>
        </div>
        <div>
            <ol start="1">
                <li>
                    <p>
                        Go to users page from the dashboard
                    </p>
                </li>
            </ol>
        </div>
    </div>
    <div>
        <div>
            <ol start="2">
                <li>
                    <p>
                        Open the account you want to change the status.
                    </p>
                </li>
            </ol>
        </div>
        <div>
            <ol start="3">
                <li>
                    <p>
                        Edit the account’s status to respective status of
                        Officer/Member.
                    </p>
                </li>
            </ol>
        </div>
        <div>
                    <p>
                        - - Admin status: Provides additional information of points
                        log and status/events type definitions.
                    </p>
        </div>
        <div>
                    <p>
                        - - Create An Event:
                    </p>
        </div>
        <div>
            <ol start="1">
                <li>
                    <p>
                        Go to Events page from the dashboard.
                    </p>
                </li>
            </ol>
        </div>
    </div>
    <div>
        <div>
            <ol start="2">
                <li>
                    <p>
                        Click on create a new Event.
                    </p>
                </li>
            </ol>
        </div>
        <div>
            <ol start="3">
                <li>
                    <p>
                        Enter the details of the event.
                    </p>
                </li>
            </ol>
        </div>
        <div>
            <ol start="4">
                <li>
                    <p>
                        Submit the details, the event should now be created and
                        can be seen in the events list.
                    </p>
                </li>
            </ol>
        </div>
        <div>
                    <p>
                        - - Edit an Event:
                    </p>
        </div>
        <div>
            <ol start="1">
                <li>
                    <p>
                        Click on events button at the dashboard.
                    </p>
                </li>
            </ol>
        </div>
    </div>
    <div>
        <div>
            <ol start="2">
                <li>
                    <p>
                        Click on edit event on the event you want to edit.
                    </p>
                </li>
            </ol>
        </div>
        <div>
            <ol start="3">
                <li>
                    <p>
                        Edit the details of the event.
                    </p>
                </li>
            </ol>
        </div>
        <div>
            <ol start="4">
                <li>
                    <p>
                        Submit and the event will be updated.
                    </p>
                </li>
            </ol>
        </div>
        <div>
                    <p>
                        - - Points Assignment
                    </p>
        </div>
        <div>
            <p>
                - - - Points can be assigned in two ways
            </p>
        </div>
    </div>
    <div>
        <div>
            <ol start="1">
                <li>
                    <p>
                        Marking Present: Go to the event for which you want to
                        assign points by opening the event from the events
                        page. You will be able to see the list of attendees for
                        that event. Click on ‘mark present’ to assign the
                        event’s points to the respective attendees.
                    </p>
                </li>
            </ol>
        </div>
        <div>
            <ol start="2">
                <li>
                    <p>
                        Add Points: Go to the users page from the dashboard.
                        For the account you want to add points, click on ‘add
                        points’. Now select the event for which you want to add
                        points and specify the number of points you want to
                        add. Submit it, the points should be added. Make sure
                        the event which is chosen is unique for that account
                        and it hasn’t already been used to allot points.
                    </p>
                </li>
            </ol>
        </div>
        <div>
                    <p>
                        - - Archive/Unarchive Users:
                    </p>
        </div>
        <div>
            <ol start="1">
                <li>
                    <p>
                        Archive: Click on the user button at the dashboard. Go
                        to the account you want to archive and click archive.
                    </p>
                </li>
            </ol>
        </div>
        <div>
            <ol start="2">
                <li>
                    <p>
                        Unarchive: Open the account you want to unarchive,
                        click on edit account and change status from ‘inactive’
                        to ‘member’.
                    </p>
                </li>
            </ol>
        </div>
    </div>
    <div>
        <div>
                    <p>
                        - - Edit Any Account: Go to users page from the dashboard.
                        Click on edit for the account you want to edit. Then
                        enter the updated details. Submit the changes.
                    </p>
        </div>
        <div>
            <p>
                - Common Features
            </p>
        </div>
        <div>
                    <p>
                        - - Creating Account:
                    </p>
        </div>
        <div>
            <ol start="1">
                <li>
                    <p>
                        Open the website, in the login page choose sign in with
                        google account.
                    </p>
                </li>
            </ol>
        </div>
        <div>
            <ol start="2">
                <li>
                    <p>
                        Use Tamu email id to login.
                    </p>
                </li>
            </ol>
        </div>
    </div>
    <div>
        <div>
            <ol start="3">
                <li>
                    <p>
                        Enter the additional details like phone number, UIN for
                        successful account creation
                    </p>
                </li>
            </ol>
        </div>
        <div>
                    <p>
                        - - Editing Account:
                    </p>
        </div>
        <div>
            <p>
                - - - In the dashboard click on edit profile, then make the necessary
                changes required.
            </p>
        </div>
        <div>
                    <p>
                        - - Cutoff Time 6 hours:
                    </p>
        </div>
        <div>
            <ol start="1">
                <li>
                    <p>
                        A user can signup for an event only before 6 hours of
                        event start.
                    </p>
                </li>
            </ol>
        </div>
    </div>
    <div>
        <div>
                    <p>
                        - - Signup For An Event:
                    </p>
        </div>
        <div>
            <ol start="1">
                <li>
                    <p>
                        Open the event you want to signup for, then click on
                        ‘Signup’. Enter the pick up details (check/uncheck).
                        Submit to create a signup.
                    </p>
                </li>
            </ol>
        </div>
        <div>
            <ol start="2">
                <li>
                    <p>
                        Remove Signup. Open the event for which you are already
                        signup for, click on the unregister to remove your
                        signup.
                    </p>
                </li>
            </ol>
        </div>
        <div>
                    <p>
                        - - View My Profile:
                    </p>
        </div>
        <div>
            <ol start="1">
                <li>
                    <p>
                        Points Log: The View my profile in the dashboard
                        provides the history of allocated points to your
                        accounts. The total Points is shown on the left side of
                        the profile page.
                    </p>
                </li>
            </ol>
        </div>
    </div>
    <div>
        <div>
            <ol start="2">
                <li>
                    <p>
                        Signups: It also contains list of signups you have made
                        for an event.
                    </p>
                </li>
            </ol>
        </div>
        <div>
            <ol start="3">
                <li>
                    <p>
                        Profile Details: You can also see your profile details
                        in this page like phone number, email address, UIN.
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>

