<p id="notice"><%= notice %></p>
<div class="text-sm breadcrumbs mb-8">
  <ul>
    <li><a href="/events">Events</a></li> 
    <li><a href="<%= event_path @event %>"><%= @event.Title %></a></li>
    <li>Sign Up</li>
  </ul>
</div>

<%= render 'form', signup: @signup %>
