<div class="text-sm breadcrumbs mb-8">
  <ul>
    <li><a href="/events">Events</a></li> 
    <li>New</li>
  </ul>
</div>

<h1>New Event</h1>

<%= render 'form', event: @event %>

<%= link_to 'Back', dashboard_path %>
