<section class="jumbotron text-center">
  <h1> An error has occurred. You must use a TAMU email address to use this website. You will be redirected to the home page in 10 seconds.</h1>
</section>

<script>
  window.setTimeout(function() {
    window.location.href = "/auth/logout";
  }, 10000);
</script>
