<!DOCTYPE html>
<html data-theme="aggie" class="bg-slate-50">
    <%= render template:"layouts/headers"%>
	<body>
		<!-- NAVBAR -->
        <%= render template:"components/nav"%>
        <%= yield %>
	</body>
</html>
