<div class="text-sm breadcrumbs mb-8">
  <ul>
    <li><a href="/accounts">Accounts</a></li> 
    <li>New</li>
  </ul>
</div>
<h1 class="text-2xl mb-8">New Account</h1>

<%= render 'form', account: @account %>
